<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331994280197-pq2gbojc9iro6gqbrpcmbkptj82lbn5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331994280197-pq2gbojc9iro6gqbrpcmbkptj82lbn5c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331994280197-p2u4cirjp1o0v4kqoa22jpvfij9tsjug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCga9xaaesvhuw9ynk_ErKKMW-3VSneW9M</string>
	<key>GCM_SENDER_ID</key>
	<string>331994280197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-examples-a7037</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-examples-a7037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331994280197:ios:3b821f3fb651e9bfbe476c</string>
</dict>
</plist>